##KNN exercise on  boston  dataset using regresssion

In [32]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [33]:
boston = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Boston.csv')

In [34]:
boston.head()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [35]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NX       506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [36]:
boston.describe()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [37]:
boston.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [38]:
X = boston.drop(['MEDV'],axis = 1 )

In [39]:
y = boston['MEDV']

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,y_train,y_test = train_test_split(X,y, train_size = 0.7 , random_state = 2529)

In [42]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((354, 13), (152, 13), (354,), (152,))

In [43]:
X_train

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
310,2.63548,0.0,9.90,0,0.544,4.973,37.8,2.5194,4,304.0,18.4,350.45,12.64
202,0.02177,82.5,2.03,0,0.415,7.610,15.7,6.2700,2,348.0,14.7,395.38,3.11
76,0.10153,0.0,12.83,0,0.437,6.279,74.5,4.0522,5,398.0,18.7,373.66,11.97
152,1.12658,0.0,19.58,1,0.871,5.012,88.0,1.6102,5,403.0,14.7,343.28,12.12
186,0.05602,0.0,2.46,0,0.488,7.831,53.6,3.1992,3,193.0,17.8,392.63,4.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,0.29819,0.0,6.20,0,0.504,7.686,17.0,3.3751,8,307.0,17.4,377.51,3.92
399,9.91655,0.0,18.10,0,0.693,5.852,77.8,1.5004,24,666.0,20.2,338.16,29.97
316,0.31827,0.0,9.90,0,0.544,5.914,83.2,3.9986,4,304.0,18.4,390.70,18.33
50,0.08873,21.0,5.64,0,0.439,5.963,45.7,6.8147,4,243.0,16.8,395.56,13.45
352,0.07244,60.0,1.69,0,0.411,5.884,18.5,10.7103,4,411.0,18.3,392.33,7.79

In [44]:
from sklearn.preprocessing import StandardScaler

In [45]:
ss = StandardScaler()

In [46]:
X_train = ss.fit_transform(X_train)

In [47]:
X_train

array([[-0.14113619, -0.48175769, -0.19860022, ...,  0.00438903,
        -0.05084503, -0.01555641],
       [-0.42121529,  3.02166196, -1.33410259, ..., -1.68641979,
         0.42969249, -1.33650784],
       [-0.41266839, -0.48175769,  0.22414717, ...,  0.14148164,
         0.19739169, -0.10842497],
       ...,
       [-0.38944304, -0.48175769, -0.19860022, ...,  0.00438903,
         0.37963873,  0.77313338],
       [-0.41404001,  0.41002186, -0.81324318, ..., -0.72677154,
         0.43161763,  0.09671754],
       [-0.41578561,  2.06618387, -1.3831586 , ..., -0.04130851,
         0.39707198, -0.68781395]])

In [52]:
X_test = ss.fit_transform(X_test)

In [53]:
from sklearn.neighbors import KNeighborsRegressor

In [57]:
knnreg = KNeighborsRegressor()

In [59]:
knnreg.fit(X_train,y_train)

KNeighborsRegressor()

In [60]:
y_pred = knnreg.predict(X_test)

In [61]:
y_pred

array([29.12, 22.2 , 19.32, 42.7 , 17.3 , 22.94, 17.58, 15.4 , 18.6 ,
       20.1 , 18.84, 28.1 , 26.36,  8.28, 11.6 , 23.72, 21.38, 23.66,
       14.12, 33.76, 21.56, 14.4 , 14.32, 20.92, 25.46, 20.74, 21.12,
       22.4 , 23.22, 20.88, 15.42, 17.58, 20.92, 23.58, 42.7 , 22.48,
       43.92, 23.06, 34.3 , 16.56, 13.72, 19.62,  8.44, 14.58, 21.9 ,
       25.8 , 15.22, 15.04, 15.16, 20.22, 25.26, 29.14, 16.62, 19.6 ,
       22.94, 19.16, 41.78, 19.24, 17.92, 24.98, 33.3 , 16.76, 21.68,
       35.96, 22.98, 29.34, 11.62, 30.26, 20.04, 22.88, 10.46, 22.72,
       32.4 , 21.76, 26.46, 23.44, 32.48, 29.06,  9.78, 13.42, 18.42,
       22.54, 18.84, 21.54, 22.06, 21.5 ,  7.74, 21.26,  8.84, 14.48,
       12.34, 26.52, 11.04,  8.7 , 16.76,  9.32, 21.74, 30.34, 33.46,
       27.94, 20.88, 11.44, 19.46, 19.46, 34.8 , 26.14, 18.64, 19.24,
       20.  , 21.46, 25.42, 19.2 , 23.36, 21.74, 19.84, 25.88, 23.78,
       27.78, 18.42, 23.86, 17.56,  8.14, 23.9 , 38.88, 19.28, 24.18,
       20.1 , 23.48, 24.86, 36.14, 22.84, 26.08, 29.7 , 15.88, 16.62,
       21.52, 17.56, 22.64, 19.24, 20.8 , 24.34, 21.38, 17.78, 32.4 ,
       18.8 , 23.18, 17.68, 21.68, 29.2 , 18.54, 29.06, 27.36])

In [62]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error

In [63]:
mean_absolute_error(y_test,y_pred)

2.672894736842105

In [64]:
mean_absolute_percentage_error(y_test,y_pred)

0.12748479708588126

In [69]:
error_rate = []
for i in range(1,40):
  knn = KNeighborsRegressor(n_neighbors=i)
  knn.fit(X_train , y_train)
  pred_i = knn.predict(X_test)
  error_rate.append(mean_absolute_error(y_test,pred_i))

In [70]:
error_rate

[3.134210526315789,
 2.795065789473684,
 2.5309210526315793,
 2.5592105263157894,
 2.672894736842105,
 2.6517543859649124,
 2.7910714285714286,
 2.8222039473684206,
 2.8627192982456138,
 2.8897368421052634,
 2.9014952153110047,
 2.9251644736842106,
 2.9426619433198375,
 2.87687969924812,
 2.9153070175438596,
 2.943215460526315,
 2.928405572755418,
 2.9784722222222215,
 2.960560941828255,
 2.972763157894736,
 2.9944235588972425,
 3.029186602870813,
 3.02883295194508,
 3.0328673245614035,
 3.0655,
 3.0812500000000003,
 3.080750487329435,
 3.117763157894737,
 3.128493647912886,
 3.137214912280702,
 3.133000848896435,
 3.1576685855263156,
 3.1555223285486447,
 3.1607972136222906,
 3.1681766917293235,
 3.1903508771929823,
 3.192247510668563,
 3.2162049861495845,
 3.2415485829959514]